.admin-user-element{
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    width: 170px;
    text-align: center;
    margin-bottom: 10px;
    z-index: 20;
    overflow: none;
    background-color: white;
    font-size: 14px;
    max-height: 200px;
}
.admin-user-element span{
    margin: 3px;
}

.admin-user-element .admin-username{
    display: inline-block;
    margin-left: 10px;
}

#user-icon{
    font-size: 60px;
    padding-top: 18px;
    display: block;
    margin: 3px auto;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    text-align: center;
    background-color: #007bff;
    overflow-y: hidden;
    overflow-x: hidden;
    outline: none;
}

#user-icon path {
    fill: white !important;
}

.admin-operation-button{
    font-size: 15px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #007bff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
}

.admin-operation-buttons-div{
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-operation-buttons-div path{
    fill: white !important;
}


.admin-user-element-main{
    position: absolute;
    top: 20px;
    right: 3px;
    width: 200px;
}