.arena{
    border-radius: 3%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.stage{
    transition: 0.3s;
    border-radius: 3%;
    cursor: pointer;
    box-shadow: 1px 1.5px 1.5px rgba(0, 0, 0, 0.5);
    background-color: #414241;
    display: inline-table;
    padding: 0;
}

.stage:hover{
    background-color: #515251;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.vertical-stage{
    width: 20px;
    margin: 5px 3px;
}

.horizontal-stage{
    width: 80px;
    margin: 2px auto;
    height: 20px;
    display: block;
}

.stage-div{
    width : max-content;
    margin: 10px auto;
    padding: 0;
}

.selected-stage{
    background-color: #009be8 ! important;
}

.stage-top{
    border-radius: 50% 50% 3% 3%;
}

.stage-right{
    border-radius: 3% 50% 50% 3%;
}

.stage-bottom{
    border-radius: 3% 3% 50% 50%;
}

.stage-left{
    border-radius: 50% 3% 3% 50%;
}