/* button-template container */
.button-template {
    display: inline-block;
    border-radius: 4px;
    background-color: #007bff;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    min-width: 150px;
  }
  
  /* button-template hover effect */
  .button-template:hover {
    background-color: #0056b3;
  }
  
  /* button-template active effect */
  .button-template:active {
    background-color: #0056b3;
    transform: translateY(2px);
  }
  