.overview{
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.name-of-event{
    font-size: 24px;
    margin-bottom: 30px;
}


.full-price{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.buy-ticket-overview-price{
    float: right;
    margin-right: 10px;
}
