@media screen and (width > 1000px) {
    .deitals{
        width: 45%;
        display: inline-table;
    }
    .payingButton{
        float: right;
        display: inline !important;
        margin: 10px !important;
    }
}

.payingButton{
    font-size: 15px;
    margin: 10px auto;
    padding: 5px;
    outline: none;
    border: none;
    display:  block;
    cursor: pointer;
    background: #3ad60f;
    display: block;
}

@media screen and (width < 1000px) {
    .button-grid{
        width : max-content;
        margin : 10px auto;
    }
}
