.SitEditorPanel{
    width: 600px;
    height: 600px;
    background-color: grey;
    display: inline-table;
    cursor: pointer;
}

.chair{
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 2px;
    background-color: black;
    cursor: grab;
    -webkit-user-drag:none;
    color: white;
    outline: none;

}

.chair:active{
    cursor: grabbing;
}

.SitEditorPanel{
    display: inline-table;
}

.toolTipText{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 10px;
}

.toolTipText::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.chair:hover .toolTipText{
    transition-delay: 1s;
    visibility: visible;
    opacity: 1;
}