.create-seat-map-table {
    width: 70dvh;
    height: calc(100vh - 80px);
    background-color: #e6e6e6;
    overflow: hidden;
}

.tools {
    display: flex;
    width: max-content;
    align-items: start;
    flex-direction: column;
    margin: 5px 10px;
    position: absolute;
    z-index: 10;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.zoom-tool-button {
    transition: 0.3s;
    border: none;
    border-bottom: 0.5px solid #7d7d7d;
    border-top: 0.5px solid #7d7d7d;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}

.zoom-tool-button:first-child {
    border-radius: 10px 10px 0px 0px;
    border-bottom: none;
    border-top: none;
}

.zoom-tool-button:last-child {
    border-radius: 0px 0px 10px 10px;
    border-top: none;
    border-bottom: none;
}

.zoom-tool-button:hover {
    transition: 0.2s;
    background-color: #636363;
    color: white;
}

.zoom-tool-button:hover i {
    color: white;
}

.create-seat-map-items {
    width: 100%;
    min-height: 100vh;
}

.create-map-actions {
    position: absolute;
}

.selecting-box {
    background-color: rgba(22, 119, 255, 0.2);
    border: 0.8px solid rgba(22, 119, 255, 1);
    border-radius: 3px;
}

.create-map-actions {
    position: absolute;
    z-index: 5;
    top: calc(80px + 1%);
    left: 1%;
    background-color: white;
    border-radius: 5px;
    display: flex;
}

.create-map-actions span {
    margin: 10px;
    font-size: 12px;
    color: #a1a1a1;
    width: 23px;
    display: block;
}

.create-seat-map-table-restart-button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}

.size-of-seat-box-span {
    position: absolute;
    top: -20px;
    left: -5px;
}

.shake {
    transform: translate3d(0, 0, 0);
    animation: shake 0.2s ease-in-out 0.1s infinite;
    background-color: rgba(22, 119, 255, 1) !important;
}

@keyframes shake {
    0% {
        transform: translate3d(0, 0.5px, 0);
    }
    25% {
        transform: translate3d(-0.5px, 0, 0.5px);
    }
    50% {
        transform: translate3d(-0.5px, 0.5px, 0.5px);
    }
    75% {
        transform: translate3d(0, -0.5px, 0);
    }
    100% {
        transform: translate3d(0.5px, 0, -0.5px);
    }
}

.table-item-box {
    background: linear-gradient(
            -90deg,
            rgba(0, 0, 0, 0.02) 1px,
            transparent 1px
        ),
        linear-gradient(rgba(0, 0, 0, 0.02) 1px, transparent 1px),
        linear-gradient(-90deg, rgba(0, 0, 0, 0.01) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, 0.02) 1px, transparent 1px),
        linear-gradient(
            transparent 3px,
            rgba(242, 242, 242, 0.7) 3px,
            rgba(242, 242, 242, 0.7) 78px,
            transparent 78px
        ),
        linear-gradient(-90deg, #aaa 1px, transparent 1px),
        linear-gradient(
            -90deg,
            transparent 3px,
            rgba(242, 242, 242, 0.7) 3px,
            rgba(242, 242, 242, 0.7) 78px,
            transparent 78px
        ),
        linear-gradient(#aaa 1px, transparent 1px), rgba(242, 242, 242, 0.7);
    background-size:
        4px 4px,
        4px 4px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px;
}

.selecting-seat {
    opacity: 0.4;
}
