.create-Event-Settings-Main{
    max-width: 800px;
    margin: 20px auto;
    width: 50%;
    min-width: 200px;
}
.create-event-upload-image{
    width: max-content;
    margin: 10px auto;
}
.ticket-button{
    margin: 10px;
}

.create-event-back-button{
    margin: 10px 20px;
    position: fixed;
}

.contributors{
    width: max-content;
    position: absolute;
    top: 100px;
    right: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.contributors span{
    font-weight: 300;
    margin: 5px 10px 5px 2px;
    display: block;
}

.contributors-grid{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    height: 60px;
}
.event-settings-radio{
    margin: 10px 0;
}

.time-line-collapse{
    cursor: pointer;
    font-size: 13px;
    margin: 40px auto;
    text-align: center;
    border: 1px solid #1677ff;
    width: max-content;
    padding: 8px 15px;
    border-radius: 5px;
}

.time-line-open-icon{
    margin-left: 5px;
}

.event-settings-holder{
    margin-top: 5px;
}