.create-Event-Settings-Main{
    max-width: 600px;
    margin: 20px auto;
    width: 50%;
    min-width: 200px;
}
.create-event-upload-image{
    width: max-content;
    margin: 10px auto;
}
.ticket-button{
    margin: 10px;
}