.mainDiv{
  overflow-x: hidden;
}

.event-page-image-div{
    width: 105%;
    height: calc(100vh - 80px);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    position: relative;
}

.event-map{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.event-map-border-radius{
  width: 90%;
  height: 200px;
  overflow: hidden;
  border-radius: 0px;
  margin: 5px auto 20px auto;
  justify-content: center;
  border-radius: 20px;
}

.location-icon{
  width: 10%;
  margin-right: 5px;
  display: inline-table !important;
  height: 30px;
}

.event-location-and-date{
  width: 100%;
}
.event-location-name span{
  font-size: 13px;
  display: block;
}

.event-location-name-span{
  width: 85%;
  display: inline !important;
  font-size: 18px !important;
  text-align: left !important;
}

.date-of-event{
  display: flex;
  text-align: center;
  width: 100%;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}


.event-location-name{
  width: 100%;
  padding: 20px;
}

.event-location-name p{
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  font-weight: 200;
}

.location-name-map-link{
  width: 80%;
  text-decoration: none;
  text-align: left;
  margin: 4px;
}

.event-map-div{
  width: 80%;
  max-width: 500px;
  display: block;
  margin: 10px auto;
  height: max-content;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.event-page-div{
    width: 100%;
    margin: 0;
    padding: 0;
}

.image-gradient-bottom::after {
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.0) 0%, rgba(0, 0, 0, 0.93) 62%);
    top: 20vh;
    height: calc(80vh - 80px);
    width: 100%;
    content: '';
    z-index: 10;
    margin: 0px;
    padding: 0px;
  }


  .image-gradient-top::after {
    display: block;
    position: absolute;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.76) 100%);
    top: 0%;
    height: 50%;
    width: 100%;
    content: '';
    z-index: 1;
    margin: 0;
    padding: 0;
  }

  .event-page-title{
    font-size: 2em;
    margin: 10px auto;
    font-weight: bold;
    z-index: 30;
    color: white;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .event-page-title-div{
    position: absolute;
    bottom: 2%;
    z-index: 30;
    width: 75%;
    left: 12.5%;
  }

  @media screen and (min-width: 900px) {
      .event-page-image-div{
        width: 100%;
        height: calc(100vh - 80px);
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
      }
        .event-page-title-div{
            position: absolute;
            top: 10%;
            margin: 20px;
            left: 10px
            
        }
        .image-gradient-bottom::after{
          background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.76) 100%);
        }
        .image-gradient-top::after{
          background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.76) 100%);
            height: 25%;
            z-index: 1;
        }
        .buy-ticket-button{
            position: absolute;
            bottom: 10px;
            height: max-content;
        }
        .buy-ticket-button{
          top: 90% ! important;
        }
        .user-side-media{
          width: 100% !important;
        }
        .user-side-media-elements{
          width : max-content !important;
        }
        .event-page-title{
          font-size: 3.0em;
          width: max-content;
          margin: 30px 15px 0px 15px;
          max-width: fit-content;
          text-align: left;
      }
      .date-of-event{
        display: inline;
        position: absolute;
        top: 10px;
        left: -37%;
      }
  }


.event-page-date{
    margin: 10px;
    margin-top: 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.buy-ticket-button{
    position: absolute;
    top: 100px;
    margin: 10px;
    right: 1%;
    font-size: 18px;
    border-radius: 5px;
    font-weight:bolder;
    box-shadow: 1px 1px 1px 0.1px black;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #3ad60f;
    color: #fff;
    text-decoration: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 30;
    cursor: pointer;
}

.buy-ticket-button:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
  }

.other-datas{
    height: 100%;
    position: relative;
    bottom: 1rem;
}

.user-side-media{
  display: inline-table;
}

.user-side-media-elements{
  width: 80%;
  margin: 10px auto;
}

.event-page-description{
  width: 90%;
  margin: 20px auto;
  text-align: justify;
}

.buy-ticket-button {
  background-color: #007BFF;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
}

.ticket-icon-container {
  display: inline-block;
  transition: transform 0.3s;
}

.buy-ticket-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}