.group-list{
    margin: 10px;
}

.group-div{
    margin-bottom: 20px;
    user-select: none;
    -webkit-user-select: none;
}

.group-div h2{
    cursor: pointer;
}

.group-div-header{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-left: 10px;
}

.group-tag{
    margin: 3px 10px;
}

.original-color-switch{
    margin: 30px 5px; 
}

.original-color-switch label {
    margin-right: 10px;
}

@keyframes inAnimation {
    from{
        top: -40px;
    }
    to{
        top: 0;
    }
}
.group-div{
    animation: inAnimation 0.2s;
    position: relative;
}

.seat-direction-button{
    width: 50px;
    margin: 5px;
    cursor: pointer;
    padding: 10px;
    box-shadow: 1px 2px 1px rgba(0,0,0,.2);
    border-radius: 10px;
    transition: 0.3s;
}

.active-seat-direction-button{
    background-color: #4096ff;
    box-shadow: 1px 2px 5px #4096ff;
    transition: 0.3s;
}

.sector-direction-example{
    display: flex;
    align-items: center;
    justify-content: center;
}

.seats-directions{
    width: max-content;
    margin: 10px auto;
}