.upload-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin: 3px auto;
  }
  
  .upload-image input[type="file"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  
  .upload-image label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: #666;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .upload-image label:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
  }
  
  .upload-image i {
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  .upload-image .image-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .upload-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .upload-image .delete-button {
    position: absolute;
    top: 5px;
    left: 0px;
    display: block;
    width: 30px !important; 
    height: 30px !important;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    background-color: transparent;
  }
  
  /*.delete-button:hover .upload-image .delete-button {
    color: #fff;
  }*/
  
  .upload-image .close-icon {
    position: absolute;
    top: 6px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    left: 10px;
  }
  
  .upload-image .close-icon:hover {
    color: #f06156;
  }

  .upload-image-title{
    font-size: 18px;
  }
  .upload-image-div{
    width: 100%;
  }
  