.local-sale-event-deitals-div{
    width: 80%;
}

.local-sale-event-details-datas{
    width: 45%;
    margin: 2%;
    display: inline-table;
    float: left;
}


.local-sale-event-image{
    width: 45%;
    margin: 2%;
    display: inline-table;
}

.local-sale-event-description{
    max-height: 200px;
    overflow-y: auto;
    overflow-x: none;
}

.buy-btn-div{
    width: max-content;
    margin: 20px auto;
}

.connect-to-monitor-icon{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: right;
    cursor: pointer;
}

.disconnected{
    color : red !important;
}

.connected{
    color : green !important;
}