.notification{
    width : 100%;
    position: fixed;
    top: 100px;
    z-index: 100000;
    display: block;
    margin: auto;
}

.notification-core-div{
    width: 80%;
    max-width: 500px;
    margin: 10px auto;
    transition: 1s;
}