.progress-bar {
  background-color: lightgray;
  border: none;
  margin: 10px auto;
  border-radius: 3px;
  overflow: none;
  outline: none;
  
}
.progress-bar-fill {
  height: 100%;
  transition: width 0.3s ease-in-out;
  display: inline-table;
  border-radius: 3px;
}

.label-of-bar{
  width: 80%;
}

.label-of-bar{
  display: inline;
  margin: 10px;
}

.bar-color{
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 5px;
  border-radius: 2px;
  }