.seat{
    background-color: black;
    z-index:1000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    justify-content: center;
    cursor:grab
}

.tooltip{
  font-size: 10px;
    visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index:999;
  }

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

.seat:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
.user-disabled{
  cursor: not-allowed;
  opacity: 0.6;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.user-allowed{
  cursor: pointer;
}

.user-selected{
  background-color: #028fed !important;
  cursor: pointer;
}