.select-places-div{
    background-color: white;
    top: 15%;
    left : 25%;
    z-index:99999999;
    overflow: auto;
    position: relative;
    overflow-x: scroll;
}

.select-place-div-2{
    position: relative;
    display: block;
}

.place{
    border-radius: 20%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.select-places-window-header{
    position: fixed;
    width: 50%;
}