.showNewUserToken{
    width: 40%;
    position: fixed;
    top: 20%;
    right: 27%;
    background-color: #fff;
    text-align: center;
    padding-bottom: 20px;
}

/* input field */
.inputOfToken{
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    width: 100%;
  }

.copy-button{
  margin: 10px;
}

  .reg-window-mid{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

.reg-window-mid h3{
  width: 100%;
  margin: 10px;
}