*{
    font-family: 'Poppins', sans-serif;;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

.event-image{
    width: 300px;
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
}

.event-divs{
    position: relative;
    animation: loadEvents 1s;
    animation-delay: 1s;
    width: 300px;
    padding: 10px 10px 10px 10px;
    margin: 20px;
    display: inline-table;
    background-color: rgba(87, 84, 83, 255);
    height: 400px;
    border-radius: 20px;
    opacity: 1;
}

.event-title{
    color: rgba(169,206,21,255);
    margin: 2px 2px 10px 2px;
    padding: 1px;
}

.event-desciption{
    padding: 1px;
    margin: 2px;
}

.event-date{
    color: white;
    background-color: rgba(169,206,21,255);
    width: max-content;
    padding: 1px 3px 1px 3px;
    border-radius: 3px;
    position: relative;
    top: -15px;
    margin: 20px 10px 0px 10px;
}

.calendar{
    position: relative;
    top: 3px;
    padding-right: 5px;
    width: 17px;
}

#loading img{
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
}
.getEventButton{
    transition: 0.4s;
    padding: 8px;
    font-size: 17px;
    border: 2px solid #4c9c02;
    background-color: rgba(169,206,21,255);
    color: white;
    position: absolute;
    left: 65%;
    bottom: 25px;
    border-radius: 7px;
    opacity: 0;
}


/*load animation*/

@keyframes loadEvents {
    0%{
        opacity: 0;
        position: relative;
        top: -1000px;
    }
    100%{
        opacity: 1;
        position: relative;
        top: 0px;
    }
}

/*details button animation*/

.event-divs:hover .getEventButton{
    opacity: 1;
    cursor: pointer;
    transition: 0.4s;
}

.getEventButton:hover{
    color: rgba(169,206,21,255);
    background-color: white;
    transition: 0.4s;
}

.main{
    width: max-content;
    margin: 10px auto;
}

.mainDiv{
    min-height: 75vh;
}