.event-stat-image{
    max-height: 300px;
    width: 30%;
    margin: 20px;
    border-radius: 10px;
}

.event-stat-main-div{
    margin: 10px auto;
    display: block;
}

.progress{
    width: max-content;
    margin: 20px auto;
}

.event-stat-details{
    width: 53%;
    display: inline-block;
    margin: 30px;
}

.event-stat-main-div{
    width: 80%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

@media screen and (width > 1000px) {
    .event-stat-image{
        float: right;
    }
}