/* Modern styling for checkboxes */
.user-event-container {
    display: flex;
    flex-direction: column;
    margin: 20px 5px 20px 5px;
  }
  
.user-event {
    margin: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
  }
  
.user-event input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 22px;
    height: 22px;
    border: 2px solid #4a4a4a;
    border-radius: 4px;
    margin-right: 10px;
    outline: none;
    cursor: pointer;
  }
  
.user-event input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 16px;
    height: 16px;
    background-color: #007bff; /* Color when checkbox is checked */
    border-radius: 2px;
    transition: transform 0.2s ease;
  }
.user-event input[type="checkbox"]:checked::before {
    transform: translate(-50%, -50%) scale(0.6);
  }

.user-event label {
    font-size: 16px;
  }
  
  /* Hover effect */
.user-event input[type="checkbox"]:not(:checked):hover {
    border-color: #007bff;
  }
  