footer {
    background-color: rgba(87, 84, 83, 255);
    padding: 1em;
    max-height: 100px;

}
footer p {
    margin: 0;
    color: black;
    text-align: center;
}
footer a {
    color: #000;
    text-decoration: none;
    color: black;
}

.footer-icon{
    user-select: none;
    -webkit-user-select: none;
    width: 30px;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 9px;
    margin: 3px;
}

footer a{
    margin: 5px;
}

.footer-div{
    display: inline-table;
}

#footer-container{
    width: max-content;
    margin: 10px auto;
    display: block;
}