.company-box{
    width: 30%;
    background-color: rgb(255, 255, 255);
    display: inline-table;
    height: 250px;
    margin: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0px 10px;
    overflow-y: auto;
}
.tax-number{
    font-size: 12px;
    text-align: center;
    width: 90%;
    margin: 10px auto;
}